<div class="product-page">
    <img src='/images/products/large/90011212_001_0.jpg' class="image-product" alt="">
    <div class="product-detail">
        <h2 class="product-name">Casual Slim Leg Pants</h2>
        <p class="description">This casual slim leg pant has a 15 inch leg opening and a laid back vibe. Made in our cotton stretch fabric with a micro houndstooth pattern.</p>
        <p><li class="product-description">85% cotton, 11% poly amid, 4% elastane</li>
            <li class="product-description">two-button</li>
            <li class="product-description">half lined</li>
            <li class="product-description">double vented with welt pockets</li>
            <li class="product-description">inside vertical pocket</li>
            <li class="product-description">functional button cuffs</li>
            <li class="product-description">dry clean only</li>
        </p>
        <div class="details">
            <a class="buyProduct" href="" >Buy now</a>
            <div class="price-details">
                <p class="price">Price: $ 100</p>
                <select name="currencies" id="currencies">
                    <option value="USD" selected>USD</option>
                </select>
            </div>
        </div>
    </div>
</div>