<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' /> 
    <link rel='stylesheet' href='/stylesheets/subcategory.css' />
    <link rel='stylesheet' href='/stylesheets/error.css' />
    <link rel='stylesheet' href='/stylesheets/product.css' />  
    <script defer src='/javascripts/activeCategory.js'></script>
    <script defer src='/javascripts/imageGallery.js'></script>
   
  </head>
  <body>
    
    <nav class="nav">{{> header }}</nav> 
    <div class="content">
      {{{body}}}
    </div>
  </body>
  
  <footer>{{> footer }}</footer>
</html>
  