<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav class="navbar">
      <img src="images/favicon.png" class="logo" alt="">
        <div class="categories">
          <div class="categ">
            <button class="womens">
              <a href="/Womens">Womens</a>
            </button>
            <button class="mens">
              <a href="/Mens">Mens</a>
            </button>
          </div>
        </div>
    </nav>
    {{{body}}}
  </body>
</html>
 