<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' /> 
   
  </head>
  <body>
    
    <nav class="nav">{{> header }}</nav> 
    <div class="content">
      {{{body}}}
    </div>
  </body>
  
  <footer>{{> footer }}</footer>
</html>
  