<div class="registration">
    <form id="form-reg">
        <div class="form">
            <p class="emailText">Email</p>
            <input type="text" autocomplete="off" id="email" class="email-reg" placeholder="Email">
            <span class='error-message' id="error-email"></span>
        </div>
        <div class="form">
            <p class="passwordText">Password</p>
            <input type="password" autocomplete="off" id="password" class="password-reg" placeholder="Password">
            <span class='error-message' id="error-password"></span>
        </div>
        <div class="form">
            <p class="confirm-passwordText">Confirm Password</p>
            <input type="password" autocomplete="off" id="confirm-password" class="confirm-password-reg" placeholder="Confirm Password">
            <span class='error-message' id="error-confirm-password"></span> 
        </div>         
        <input class="registration-btn" type="submit" value="Register">
    </form>
</div>

<script>
    const form = document.getElementById('form-reg');
    form.addEventListener('submit', registerUser);
    const error_email = document.getElementById('error-email');
    const error_password = document.getElementById('error-password');
    const error_confirm_password = document.getElementById('error-confirm-password');

    async function registerUser(event){
        event.preventDefault();
        const email = document.getElementById('email').value;
        const password = document.getElementById('password').value;
        const confirm_password = document.getElementById('confirm-password').value;

        const result = await fetch('/registration', {
            method: 'POST',
            headers:{
                "Content-Type": "application/json",
            },
            body: JSON.stringify({
                email,
                password,
                confirm_password
            })
        }).then((res) => res.json())

        if(result.status !== 'ok'){
            switch(result.status){
                case 'error-email': error_email.textContent = result.error;
                                    error_password.textContent = null;
                                    error_confirm_password.textContent = null;
                    break;
                case 'error-password':  error_email.textContent = null;
                                        error_password.textContent = result.error;
                                        error_confirm_password.textContent = null;
                    break;
                case 'error-confirm-password':  error_email.textContent = null;
                                                error_password.textContent = null;
                                                error_confirm_password.textContent = result.error;
                    break;
            }
        }else{
            document.cookie = `user=${JSON.stringify(result.user)}`;
            document.cookie = `token=${result.token}`;

            window.location.href = '/';
        }
    }
</script>