<div class="registration">
    <form id="form-reg">
        <p class="emailText">Email</p>
        <input type="text" autocomplete="off" id="email" class="email-reg" placeholder="Email">
        <p class="passwordText">Password</p>
        <input type="password" autocomplete="off" id="password" class="password-reg" placeholder="Password">
        <p class="confirm-passwordText">Confirm Password</p>
        <input type="password" autocomplete="off" id="confirm-password" class="confirm-password-reg" placeholder="Confirm Password">
        <input class="registration-btn" type="submit" value="Register">
    </form>
</div>

<script>
    const form = document.getElementById('form-reg');
    form.addEventListener('submit', registerUser);

    async function registerUser(event){
        event.preventDefault();
        const email = document.getElementById('email').value;
        const password = document.getElementById('password').value;
        const confirm_password = document.getElementById('confirm-password').value;

        const result = await fetch('/registration', {
            method: 'POST',
            headers:{
                "Content-Type": "application/json",
            },
            body: JSON.stringify({
                email,
                password,
                confirm_password
            })
        }).then((res) => res.json())

        if(result.status !== 'ok'){
            alert(result.error);
        }else{
            document.cookie = `user=${JSON.stringify(result.user)}`;
            document.cookie = `token=${result.token}`;

            window.location.href = '/';
        }
    }
</script>