<div class="registration">
    <form id="form-reg">
        <p class="emailText">Email</p>
        <input type="text" autocomplete="off" id="email" class="email-reg" placeholder="Email">
        <p class="passwordText">Password</p>
        <input type="password" autocomplete="off" id="password" class="password-reg" placeholder="Password">
        <p class="confirm-passwordText">Confirm Password</p>
        <input type="password" autocomplete="off" id="confirm-password" class="confirm-password-reg" placeholder="Confirm Password">
        <input class="registration-btn" type="submit" value="Register">
    </form>
</div>

