<div class="products">
    <div class="product">
        <div class="card">
            <p class="titleProduct">Women Shoes</p>
                <div class="contentProduct">
                        <img src='images/products/large/70284588_100_0.jpg' class="imageProduct" alt="">
                    <div class="rightCard">
                        <p class="descriptionProduct">Shop Women's Clothing. Relaxed, timeless classics you can rely on; from denim to corduroys and sweaters to shirts. Huge range of contemporary colours and eco-aware designs: great casualwear.</p>
                        <div class="info">
                            <p class="priceProduct">Price: $ 200</p>
                            <a class="moreInfoProduct" href="" >More Info</a>
                        </div>
                    </div>
            </div>
        </div>
    </div>
   <div class="product">
        <div class="card">
            <p class="titleProduct">Women Shoes</p>
                <div class="contentProduct">
                        <img src='images/products/large/70284588_100_0.jpg' class="imageProduct" alt="">
                    <div class="rightCard">
                        <p class="descriptionProduct">Shop Women's Clothing. Relaxed, timeless classics you can rely on; from denim to corduroys and sweaters to shirts. Huge range of contemporary colours and eco-aware designs: great casualwear.</p>
                        <div class="info">
                            <p class="priceProduct">Price: $ 200</p>
                            <a class="moreInfoProduct" href="" >More Info</a>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <div class="product">
        <div class="card">
            <p class="titleProduct">Women Shoes</p>
                <div class="contentProduct">
                        <img src='images/products/large/70284588_100_0.jpg' class="imageProduct" alt="">
                    <div class="rightCard">
                        <p class="descriptionProduct">Shop Women's Clothing. Relaxed, timeless classics you can rely on; from denim to corduroys and sweaters to shirts. Huge range of contemporary colours and eco-aware designs: great casualwear.</p>
                        <div class="info">
                            <p class="priceProduct">Price: $ 200</p>
                            <a class="moreInfoProduct" href="" >More Info</a>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <div class="product">
        <div class="card">
            <p class="titleProduct">Women Shoes</p>
                <div class="contentProduct">
                        <img src='images/products/large/70284588_100_0.jpg' class="imageProduct" alt="">
                    <div class="rightCard">
                        <p class="descriptionProduct">Shop Women's Clothing. Relaxed, timeless classics you can rely on; from denim to corduroys and sweaters to shirts. Huge range of contemporary colours and eco-aware designs: great casualwear.</p>
                        <div class="info">
                            <p class="priceProduct">Price: $ 200</p>
                            <a class="moreInfoProduct" href="" >More Info</a>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>

