.pagination{
    display:flex;
    justify-content: flex-end;
    padding-bottom: 10px;
}

.page{
  color: black;
  float: left;
  padding: 5px 10px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 3px;
  box-shadow: -1px -1px 5px 1px #ffffff, 1px 1px 3px 0px rgb(95 157 231 / 80%);
}
.current-page{
    color:white;
    float: left;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 45%;
    background-color: #1784ddbc;
    box-shadow: -2px -1px 8px 0px #1784ddbc, 2px 1px 8px 0px rgb(95 157 231 / 48%);
    cursor:default;
   }


