.product-page{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    padding:20px;
    height: 480px;
    box-shadow: rgb(73, 177, 225) 5px 5px 30px ,rgb(73, 177, 225) -5px 0px 50px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.103);
    margin-left: 40px;
    margin-right: 40px;
}

.image-product{
    min-width:60%;
    max-width: 100%;
    box-shadow: rgba(73, 177, 225, 0.651) 5px 10prgba(73, 177, 225, 0.726) -5px 0px 50px;
    border-radius: 15px;
    margin-left: 5px;

}
.product-detail{
    display: inline-flex;
    align-items: flex-start;
    flex-direction: column;
    width: 50%;
}

.product-name{
    font-size: 40px;
    margin-top: -10px;
}
.description-product{
    margin-bottom: -10px;
    font-size: 20px;
    width: auto;
}

.product-description{
    font-size: 20px;
}

.price{
    font-size: 25px;
    margin-top: -5px;
    justify-items: center;
    padding-right: 20px;
    font-weight: bold;
}

.details{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: baseline;
    flex-wrap: nowrap;
    width: 100%;
}

select{
    border:none;
    padding: 10px 20px;
    border-radius:20px;
  }
  
select:focus{
    outline:none;
}

.price-details{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    flex-wrap: nowrap;
}

.images{
    display:flex;
    align-items: center;
    max-width: 500px;
    min-width: 450px;
    min-height: 400px;
    max-height: 450px;
    margin-right: 25px;
    width: 30%;
}
.small-images{
    display:flex;
    padding:5px;
    min-width: 0px;
    max-width: 50px;
    flex-direction: column;
    margin-right: 0;
    box-shadow: rgb(73, 177, 225) 5px 5px 30px ,rgb(73, 177, 225) -5px 0px 50px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.103);
}

.small-img{
    padding-bottom: 5px;
    border-radius: 15px;
    width: 100%;
    cursor: pointer;
}