.product-page{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    padding:20px;
    height: 480px;
    box-shadow: rgb(73, 177, 225) 5px 10px 30px ,rgb(73, 177, 225) -5px 0px 50px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.132);
}

.image-product{
    min-width:20%;
    max-width: 30%;
}

.product-detail{
    display: inline-flex;
    align-items: flex-start;
    flex-direction: column;
    width: 50%;
}

.product-name{
    font-size: 40px;
    margin-top: -10px;
}
.description-product{
    margin-bottom: -10px;
    font-size: 20px;
    width: auto;
}

.product-description{
    font-size: 20px;
}

.price{
    font-size: 25px;
    margin-top: -5px;
    justify-items: center;
    padding-right: 20px;
    font-weight: bold;
}

.details{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: baseline;
    flex-wrap: nowrap;
    width: 100%;
}

select{
    border:none;
    padding: 10px 20px;
    border-radius:20px;
  }
  
select:focus{
    outline:none;
}

.price-details{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    flex-wrap: nowrap;
}